@model HistoryVM

@{
    ViewData["Title"] = "History Orders";
}

<div class="card shadow border-0 my-4 col-12">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white py-1">History Orders</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container rounded p-2">
            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1 mx-auto">
                    @foreach (var lists in @Model.OrderUserInfoList)
                    {
                        <br />
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="badge bg-info">@lists.OrderDate.ToString("g")</span>
                            <span class="badge bg-danger">@lists.OrderStatus</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var lists2 in @Model.OrderDetailsProductList.Where(x => x.OrderUserInfo.OrderDate == @lists.OrderDate))
                            {
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6 class="my-0">@lists2.Product.Title</h6>
                                        <small class="text-muted">Quantity: @lists2.Count</small>
                                    </div>
                                    @if (lists2.Product.Price != null)
                                    {
                                        <span class="text-muted">@((lists2.Product.Price * lists2.Count).Value) <i class="bi bi-currency-dollar"></i> </span>
                                    }
                                    else
                                    {
                                        <span class="text-muted">@((lists2.Product.ListPrice * lists2.Count)) <i class="bi bi-currency-dollar"></i></span>
                                    }
                                </li>
                            }
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <small class="text-info">Total (<i class="bi bi-currency-dollar"></i>)</small>
                                <strong class="text-info">@Model.OrderUserInfoList.FirstOrDefault(x=>x.OrderDate == @lists.OrderDate).TotalOrderPrice <i class="bi bi-currency-dollar"></i></strong>
                            </li>
                        </ul>
                    } 
                </div>
            </div>
        </div>
    </div>
</div>