@model Product

@{
    ViewData["Title"] = "Details for " + @Model.Title;
}

<form method="post">
    @* <input hidden asp-for="ProductId" />*@
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-1 text-start">
                    <a asp-action="Index" class="btn btn-light mb-0">
                        <small><i class="bi bi-arrow-bar-left"></i></small>
                    </a>
                </div>
                <div class="col-11 text-center">
                    <h3 class="text-white text-uppercase" style="display: inline-block;">@Model.Title</h3>
                    <p class="text-warning fw-semibold mb-0">by @Model.Author.FullName</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-12 col-lg-4 offset-lg-1 text-center mb-3">
                        <img src="@Model.ImageUrl" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="col-12 col-md-6 pb-4">
                            <span class="badge bg-success">Category - @Model.Category.Name</span>
                            <span class="badge bg-danger">CoverType - @Model.CoverType.Name</span>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-75 ">ISBN : @Model.ISBN</h6>
                        </div>
                        @if (@Model.Price != null)
                        {
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-75 pb-2">
                                    List Price:
                                    <span style="color: gray;text-decoration: line-through;text-decoration-color: red;text-decoration-thickness: 2px;"> @Model.ListPrice.ToString("c") </span>
                                </h6>
                            </div>
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-75 pb-1">
                                    NEW Price:
                                    <span> @Model.Price.Value.ToString("c") </span>
                                </h6>
                            </div>
                        }
                        else
                        {
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-75 pb-2">
                                    List Price:
                                    <span> @Model.ListPrice.ToString("c") </span>
                                </h6>
                            </div>
                        }
                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Description)</p>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>