
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />

<div class="row pb-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow  border-top border-5 rounded">
						@if(product.ImageUrl != null && product.ImageUrl.Count() > 0)
						{
							<img src="@product.ImageUrl" class="card-img-top rounded" width="300px" height="320px"/>
						}
						else 
						{
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }
					</div>
					<div class="card-body pb-0">
						<div class="pl-1">
							<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
							<p class="card-title text-warning text-center">by <b>@product.Author.FullName</b></p>
						</div>
						@if(product.Price != null)
						{
							<div class="pl-1">
								<p class="text-dark text-opacity-75 text-center mb-0">
									List Price: <span style="color: gray;text-decoration: line-through;text-decoration-color: red;text-decoration-thickness: 2px;"> @product.ListPrice <i class="bi bi-currency-dollar"></i> </span>
								</p>
							</div>
							<div class="pl-1">
								<p class="text-dark text-opacity-75 text-center mb-0">
									NEW Price: <span> @product.Price.Value <i class="bi bi-currency-dollar"></i> </span>
								</p>
							</div>
						}
						else
						{
							<div class="pl-1">
								<p class="text-dark text-opacity-75 text-center mb-4">
									List Price: <span> @product.ListPrice <i class="bi bi-currency-dollar"></i> </span>
								</p>
							</div>
						}
					</div>
					<div>
						<a asp-controller="Home" asp-action="Details" class="btn btn-primary bg-gradient border-0 form-control" asp-route-id="@product.Id">
							Details
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>